.white{
color: #fff!important;
}
.cf-padding{
padding: 0 10%;
}
.no-padding{
padding: 0px;
}
.auto-marginleft{
margin-left: auto;
margin-right: 15%;
}
.btn-readmore-outline {
padding: 0.375rem 1.75rem;
color: #fff;
background-color: transparent;
border-color: #fff;
border-radius: 50px;
margin: 0 auto;
position: relative;
}
.btn-readmore-outline:hover {
color: #fff;
background-color: #f35c5c;
border-color: #f35c5c;
}
.btn-readmore-outline:focus, .btn-readmore.focus {
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* wordnet */
/* section 1 */
#wordnet-portfolio-section1{
padding: 100px 0px 100px 0px;
background-color: #fff;
}
#wordnet-portfolio-section1 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#wordnet-portfolio-section1 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
#wordnet-portfolio-section1 .y-video{
padding-top: 100px
}
/* section 2 */
#wordnet-portfolio-section2{
padding: 10% 0;
background-color: #ececec
}
#wordnet-portfolio-section2 h2{
color: #444;
font-weight: 700;
}
#wordnet-portfolio-section2 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
}
#wordnet-portfolio-section2 .margintop50{
margin-top: 50px;
}
/* section 3 */
#wordnet-portfolio-section3{

padding: 10% 0;
background-color: #fff;

}
#wordnet-portfolio-section3 .logo{
    padding:75px;
    }
#wordnet-portfolio-section3 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: left;
}
#wordnet-portfolio-section3 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: left;
margin-bottom: 30px;
}
#wordnet-portfolio-section3 .v-center {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-line-pack: center;
align-content: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
#wordnet-portfolio-section3 .screen-slider .item {
background: url('../img/wordnet/mobile.png') no-repeat scroll center center / auto 100%;
padding: 56px 22px;
display: inline-block;
margin: auto;
}
#wordnet-portfolio-section3 .screen-slider.owl-carousel .owl-item {
text-align: center
}
#wordnet-portfolio-section3 .screen-slider .owl-controls {
position: absolute;
left: 35%;
top: 100%;
}
#wordnet-portfolio-section3 .screen-slider .owl-controls .owl-nav > div {
display: inline-block;
margin: 0 15px;
font-size: 20px;
text-align: center;
position: relative;
}
#wordnet-portfolio-section3 .screen-slider .owl-controls .owl-nav {
position: relative;
margin-top: 0;
}
#wordnet-portfolio-section3 .screen-slider .owl-controls .owl-nav:after {
content: "/";
position: absolute;
left: 50%;
top: 12px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}
/*  section 4 */
#wordnet-portfolio-section4{

padding: 10% 0;

background:#eee;
}
#wordnet-portfolio-section4 h2{
color: #222;
}
#wordnet-portfolio-section4 p{
color: #222;
}
#wordnet-portfolio-section4  ul {
list-style: none;
padding: 0;
}
#wordnet-portfolio-section4 ul li {
padding-bottom: 10px;
color: #222;
}
#wordnet-portfolio-section4 i {
font-size: 20px;
padding-right: 4px;
color: #222;
}
#wordnet-portfolio-section4 .portfolio-section-textholder{
margin-bottom: 20px;
}
#wordnet-portfolio-section4 .portfolio-section-textholder img{
height:70px;
width: auto;
margin-bottom: 20px
}
#wordnet-portfolio-section4 .icon {
float: left;
}
#wordnet-portfolio-section4 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#wordnet-portfolio-section4 .paddingsides80{
padding: 0px 80px 0px 80px;
}
/* section5 */
#wordnet-portfolio-section5{
background: #2e364e;
}
@media (min-width: 320px) and (max-width: 480px) {
	#wordnet-portfolio-section2 .logo{
	padding:0px 50px 50px 50px;
	}
    #wordnet-portfolio-section2 .img-holder{
    padding:0px 50px 50px 50px;
    }
	#wordnet-portfolio-section3 .logo{
	padding:0px 50px 50px 50px;
	}
    #wordnet-portfolio-section3 .logo-holder{
    padding:0px 50px 0px 50px;
    }
    #wordnet-portfolio-section4 {
    padding: 50px 0px 50px 0px;
    }
    #wordnet-portfolio-section4 .paddingsides80 {
    padding: 0px 15px 0px 15px;
    }
    #wordnet-portfolio-section4 .portfolio-section-textholder img {
    height: 50px;
    width: auto;
    margin-bottom: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .tab-no-padding{
        padding: 0px;
    }
#wordnet-portfolio-section2 .tab-padding50{
    padding:50px;
}
#wordnet-portfolio-section3 .logo {
    padding: 0px;
}
#wordnet-portfolio-section3 .logo-holder img{
    height: 100px;
    width: auto;
}
}
/* mrlight */
/* section 1 */
#mrlight-portfolio-section1{
padding: 100px 0px;
background-image: linear-gradient(#eeeeee,#ffffff );
}
#mrlight-portfolio-section1 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#mrlight-portfolio-section1 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
/*  section 2 */
#mrlight-portfolio-section2{
padding: 120px 0px 100px 0px;
background:#e1343b;
}
#mrlight-portfolio-section2 h2{
color: #fff;
}
#mrlight-portfolio-section2 p{
color: #fff;
}
#mrlight-portfolio-section2  ul {
list-style: none;
padding: 0;
}
#mrlight-portfolio-section2 ul li {
padding-bottom: 10px;
color: #fff;
}
#mrlight-portfolio-section2 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#mrlight-portfolio-section2 .portfolio-section-textholder{
margin-bottom: 20px;
}
#mrlight-portfolio-section2 .portfolio-section-textholder img{
height:70px;
width: auto;
margin-bottom: 20px
}
#mrlight-portfolio-section2 .icon {
float: left;
}
#mrlight-portfolio-section2 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#mrlight-portfolio-section2 .paddingsides80{
padding: 0px 80px 0px 80px;
}
/* section 3 */
#mrlight-portfolio-section3{
padding: 100px 0px;
background-image: linear-gradient(#eeeeee,#fff );
}
#mrlight-portfolio-section3 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#mrlight-portfolio-section3 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 480px) {
	#mrlight-portfolio-section1 {
    padding: 100px 0px 50px 0px;
	}
	#mrlight-portfolio-section2 {
    padding: 50px 0px 50px 0px;
	}
	#mrlight-portfolio-section2 .paddingsides80 {
    padding: 0px 15px 0px 15px;
	}
	#mrlight-portfolio-section2 .portfolio-section-textholder img {
    height: 50px;
    width: auto;
    margin-bottom: 0px;
	}
	#mrlight-portfolio-section3 {
    padding: 50px 0px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
#mrlight-portfolio-section1 {
    padding: 200px 0px 100px;
}
}
/* quovadis */
/* section1 */
#quovadis-portfolio-section1{
padding: 120px 0px 100px 0px;
background: linear-gradient(#eeeeee,#fff );
}
#quovadis-portfolio-section1 .paddingtop50only{
padding:50px 0px 0px 0px;
}
#quovadis-portfolio-section1 h2{
color: #fff;
}
#quovadis-portfolio-section1 p{
color: #fff;
}
#quovadis-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#quovadis-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#quovadis-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#quovadis-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#quovadis-portfolio-section1 .icon {
float: left;
}
#quovadis-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#quovadis-portfolio-section1 .paddingsides80{
padding: 80px 80px 0px 80px;
}
#quovadis-portfolio-section1 .portfolio-section-imgholder img{
width: 110%;
}
#quovadis-portfolio-section1 .portfolio-section-textholder img{
height:70px;
width: auto;
margin-bottom: 20px;
}
#quovadis-portfolio-section1 .portfolio-section-textholder i ,#quovadis-portfolio-section1 .portfolio-section-textholder p{
color: #222;
}
/* section 2 */
#quovadis-portfolio-section2{
padding:0px;
background-color: #444;
}
#quovadis-portfolio-section2 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#quovadis-portfolio-section2 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 480px){
	#quovadis-portfolio-section1 {
    padding: 75px 0px 50px 0px;
}
	#quovadis-portfolio-section1 .portfolio-section-imgholder img {
    width: 100%;
	}
	#quovadis-portfolio-section1 .paddingsides80 {
    padding: 0px 15px 0px 15px;
}
#quovadis-portfolio-section1 .portfolio-section-textholder img {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}
#quovadis-portfolio-section2 .no-padding {
    padding: 0px 15px !important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
#quovadis-portfolio-section1 .portfolio-section-imgholder img {
    width: 100%;
}
#quovadis-portfolio-section2 .no-padding {
    padding: 0px 15px !important;
}
}
/* one more game */
/* section1 */
#omg-portfolio-section1{
padding: 120px 0px 100px 0px;
background:#68ab44
}
#omg-portfolio-section1 .paddingtop50only{
padding:50px 0px 0px 0px;
}
#omg-portfolio-section1 h2{
color: #fff;
}
#omg-portfolio-section1 p{
color: #fff;
}
#omg-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#omg-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#omg-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#omg-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#omg-portfolio-section1 .icon {
float: left;
}
#omg-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#omg-portfolio-section1 .paddingsidestop80{
padding: 80px 80px 0px 80px;
}
#omg-portfolio-section1 .portfolio-section-textholder img{
height:100px;
width: auto;
margin-bottom: 20px;
}
#omg-portfolio-section1 .portfolio-section-textholder h2{
display: inline-block;
margin-left: 20px
}
/* section2 */
#omg-portfolio-section2{
padding:0px;
}
/* section3 */
#omg-portfolio-section3{
padding: 100px 0px 100px 0px;
background-color: #fff;
}
#omg-portfolio-section3 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#omg-portfolio-section3 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
/* section4 */
#omg-portfolio-section4{
padding: 0px 0px 100px 0px;
background: #fff;
}
#omg-portfolio-section4 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#omg-portfolio-section4 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
#omg-portfolio-section4 .paddingbottom{
padding:0 0 3%;
}
@media (min-width: 320px) and (max-width: 480px) {
	#omg-portfolio-section1 {
    padding: 75px 0px 50px 0px;
	}
	#omg-portfolio-section1 .paddingsidestop80 {
    padding: 15px 15px 0px 15px;
	}
	#omg-portfolio-section1 .portfolio-section-textholder img {
    height: 75px;
    width: auto;
    margin-bottom: 20px;
	}
	#omg-portfolio-section4 .cf-padding {
    	padding: 0px 5%;
	}
	#omg-portfolio-section4 {
    padding: 0px 0px 0px 0px;
    background: #fff;
	}
	#omg-portfolio-section3 {
    padding: 50px 0px 50px 0px;
    background-color: #fff;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
#omg-portfolio-section2 {
    padding: 0px 0px 0px 0px;
}
#omg-portfolio-section4 .cf-padding {
    padding: 0px 2%;
}
#omg-portfolio-section4 {
    padding: 0px 0px 0px 0px;
}
}
/* genex */
/* section1 */
#genex-portfolio-section1{
padding: 120px 0px 100px 0px;
background:#b72314
}
#genex-portfolio-section1 h2{
color: #fff;
}
#genex-portfolio-section1 p{
color: #fff;
}
#genex-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#genex-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#genex-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#genex-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#genex-portfolio-section1 .icon {
float: left;
}
#genex-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#genex-portfolio-section1 .paddingtop50only{
padding:50px 0px 0px 0px;
}
#genex-portfolio-section1 .paddingsides80{
padding: 80px 80px 0px 80px;
}
#genex-portfolio-section1 .portfolio-section-textholder img{
height:70px;
width: auto;
margin-bottom: 20px;
}
/* section2 */


/* section 4 */
#genex-portfolio-section4 h2{
color: #222;
margin-bottom: 30px;
/*font-size: 50px;*/
font-weight: 700;
}
#genex-portfolio-section4 h4{
color: #222;
font-weight: 200;
line-height: 1.4em;
margin-bottom: 50px;
}
#genex-portfolio-section4 p{
color: #222;
margin-bottom: 0px;
font-size: 16px;
margin-bottom: 30px;
}
#genex-portfolio-section4 .bg-red{
background:#b72314;
}
#genex-portfolio-section4 .text-holder{
    width: 70%;
}
#genex-portfolio-section4 .new h2{
color: #fff;
margin-bottom: 30px;
/*font-size: 50px;*/
font-weight: 700;
}
#genex-portfolio-section4 .new h4{
color: #fff;
font-weight: 200;
line-height: 1.4em;
margin-bottom: 50px;
}
#genex-portfolio-section4 .new p{
color: #fff;
margin-bottom: 0px;
font-size: 16px;
margin-bottom: 30px;
}
#genex-portfolio-section4 .new .bg-red{
background:#b72314;
}
#genex-portfolio-section4 .new .text-holder2{
padding: 20%;
}
/* section 5 */
#genex-portfolio-section5{
}
#genex-portfolio-section5 h2{
color: #fff;
margin-bottom: 30px;
/*font-size: 50px;*/
font-weight: 700;
}
#genex-portfolio-section5 h4{
color: #fff;
font-weight: 200;
line-height: 1.4em;
margin-bottom: 50px;
}
#genex-portfolio-section5 p{
color: #fff;
margin-bottom: 0px;
font-size: 16px;
margin-bottom: 30px;
}
#genex-portfolio-section5 .bg-red{
background:#b72314;
}
#genex-portfolio-section5 .text-holder{
padding: 20%;
}
/* section 6 */
#genex-portfolio-section6{
    padding-bottom: 100px;
}
#genex-portfolio-section6 h2{
color: #fff;
margin-bottom: 30px;
/*font-size: 50px;*/
font-weight: 700;
}
#genex-portfolio-section6 h4{
color: #fff;
font-weight: 200;
line-height: 1.4em;
margin-bottom: 50px;
}
#genex-portfolio-section6 p{
color: #fff;
margin-bottom: 0px;
font-size: 16px;
margin-bottom: 30px;
}
#genex-portfolio-section6 .bg-red{
background:#b72314;
}
#genex-portfolio-section6 .text-holder{
padding: 20%;
}
@media (min-width: 320px) and (max-width: 480px) {
	#genex-portfolio-section1 {
    padding: 75px 0px 50px 0px;
    background: #b72314;
}
	#genex-portfolio-section1 .paddingsides80 {
	    padding: 0px 15px 0px 15px;
	}
	#genex-portfolio-section1 .portfolio-section-textholder img {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
	}
	#genex-portfolio-section3 {
    padding: 50px 0px;
}
#genex-portfolio-section4 .text-holder,#genex-portfolio-section5 .text-holder {
    padding: 50px 10px 50px 10px;
}
}
/* gloria */
/* section1 */
#gloria-portfolio-section1{
padding: 120px 0px 100px 0px;
background:#ff663e
}
#gloria-portfolio-section1 h2{
color: #fff;
}
#gloria-portfolio-section1 p{
color: #fff;
}
#gloria-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#gloria-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#gloria-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
.portfolio-section-textholder{
margin-bottom: 20px;
}
#gloria-portfolio-section1 .icon {
float: left;
}
#gloria-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#gloria-portfolio-section1 .paddingsidestop80{
padding: 80px 80px 0px 80px;
}
#gloria-portfolio-section1 .paddingtop50only{
padding:50px 0px 0px 0px;
}
#gloria-portfolio-section1 .portfolio-section-imgholder img{

}
#gloria-portfolio-section1 .portfolio-section-textholder img{
height:70px;
width: auto;
margin-bottom: 20px;
}
/* section2 */
#gloria-portfolio-section2{
background-color: #f2f2f2;
}

@media (min-width: 320px) and (max-width: 480px) {
	#gloria-portfolio-section1 .portfolio-section-imgholder img {
    max-height: 550px;
    width: 100%;
	}
	#gloria-portfolio-section1 {
    padding: 75px 0px 50px 0px;
    background: #ff663e;
}
#gloria-portfolio-section1 .paddingsidestop80 {
    padding: 15px 15px 0px 15px;
}
}
/* lumiere */
/* section1 */
#lumiere-portfolio-section1{
padding: 120px 0px 100px 0px;
background-color:#7b844b;
}
#lumiere-portfolio-section1 h2{
color: #fff;
}
#lumiere-portfolio-section1 p{
color: #fff;
}
#lumiere-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#lumiere-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#lumiere-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#lumiere-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#lumiere-portfolio-section1 .icon {
float: left;
}
#lumiere-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#lumiere-portfolio-section1 .paddingtop30only{
padding: 30px 0px 0px 0px;
}
#lumiere-portfolio-section1 .paddingsidestop80{
padding: 80px 80px 0px 80px;
}
#lumiere-portfolio-section1 .portfolio-section-textholder img{
height:100px;
width: auto;
margin-bottom: 20px;
}
/* section2 */
#lumiere-portfolio-section2{
padding: 100px 0px;
background-color: #fff
}
#lumiere-portfolio-section2 h2{
color: #444;
font-weight: 700;
}
#lumiere-portfolio-section2 p{
color: #444;
margin-bottom: 0;
font-size: 16px;
}
#lumiere-portfolio-section2 .paddingtop300{
padding-top: 300px;
}
#lumiere-portfolio-section2 .img-holder img{

}
/* section3 */
#lumiere-portfolio-section3{
padding: 100px 0px;
background:#eeeeee;
}
#lumiere-portfolio-section3 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#lumiere-portfolio-section3 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}
/* section4 */
#lumiere-portfolio-section4{
padding: 150px 0px 100px 0px;
background: #eaeaea
}
#lumiere-portfolio-section4 h2{
color: #444;
font-weight: 700;
}
#lumiere-portfolio-section4 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
}
#lumiere-portfolio-section4 .f64{
font-size: 64px!important;
}
#lumiere-portfolio-section4 .paddingtop300{
padding-top: 10%;
}
@media (min-width: 320px) and (max-width: 480px) {
	#lumiere-portfolio-section1 {
    padding: 75px 0px 50px 0px;
    background-color: #7b844b;
}
#lumiere-portfolio-section1 .paddingsidestop80 {
    padding: 15px 15px 0px 15px;
}
#lumiere-portfolio-section1 .portfolio-section-textholder img {
    height: 60px;
    width: auto;
    margin-bottom: 20px;
}
#lumiere-portfolio-section2 {
    padding: 50px 0px;
    background-color: #fff;
}
#lumiere-portfolio-section2 .img-holder img {
    height: 100%;
    width: 100%;
}
#lumiere-portfolio-section2 .paddingtop300 {
    padding-top: 0px;
}
#lumiere-portfolio-section4 {
    padding: 50px 0px 50px 0px;
    background: #eaeaea;
}
#lumiere-portfolio-section4 .paddingtop300 {
    padding-top: 0px;
    padding-bottom: 50px;
}
#lumiere-portfolio-section4 h2 {
    color: #444;
    font-size: 32px;
    font-weight: 700;
}
#lumiere-portfolio-section3 {
    padding: 50px 0px;
    background-image: linear-gradient(#eeeeee,#fff );
}
.slick-next {
    right: 0px!important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
#lumiere-portfolio-section2 .paddingtop300 {
    padding-top: 0px;
}
#lumiere-portfolio-section2 .img-holder img {
    height: 100%;
    width: 100%;
}
#lumiere-portfolio-section4 .paddingtop300 {
    padding-top: 0px;
}
#lumiere-portfolio-section4 {
    padding: 100px 0px 100px 0px;
    background: #eaeaea;
}
.slick-next {
    right: 0px!important;
}
}
/* huts */
/* section1 */
#huts-portfolio-section1{
padding: 120px 0px 100px 0px;
background:#74c044
}
#huts-portfolio-section1 h2{
color: #fff;
}
#huts-portfolio-section1 p{
color: #fff;
}
#huts-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#huts-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#huts-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #fff;
}
#huts-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#huts-portfolio-section1 .icon {
float: left;
}
#huts-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#huts-portfolio-section1 .paddingtop80only{
padding: 80px 0px 0px 0px;
}
#huts-portfolio-section1 .paddingsidestop80{
padding: 80px 80px 0px 80px;
}
#huts-portfolio-section1 .portfolio-section-textholder img{
height:100px;
width: auto;
margin-bottom: 20px;
}
#huts-portfolio-section1 .portfolio-section-textholder h2{
display: inline-block;
margin-left: 20px
}

/* section3 */
#huts-portfolio-section3{
padding: 100px 0px;
}
#huts-portfolio-section3 .img-holder{
text-align: center;
}
#huts-portfolio-section3 .img-holder img{
margin-bottom: 10%;
box-shadow:5px 5px 10px 5px #666;
}
#huts-portfolio-section3 h2{
color: #444;
font-weight: 700;
}
#huts-portfolio-section3 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
}
#huts-portfolio-section3 .text-holder{
    padding: 8% 12%;
    background: #fff;
    height: auto;
    box-shadow: 5px 5px 10px 5px #66666678;
    background-color: white;
    margin-bottom: 10%;
}
/* section4 */
#huts-portfolio-section4{
padding: 100px 0px;
background-color: #fff;
}
#huts-portfolio-section4 h2{
color: #444;
font-weight: 700;
}
#huts-portfolio-section4 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
}
#huts-portfolio-section4 .padding-top20{
padding-top: 20%;
}
/* section5 */
#huts-portfolio-section5{
padding: 100px 0px;
background: #eaeaea
}
#huts-portfolio-section5 .img-holder{
padding: 50px 0px;
}
#huts-portfolio-section5 .text-holder{
text-align: center;
}
#huts-portfolio-section5 .text-holder h2 {
color: #444;
font-weight: 700;
}
/* section6 */
#huts-portfolio-section6{
background-color:#74c044;
padding: 5% 0 4% 0;
}
#huts-portfolio-section6 h2{
color: #fff;
font-weight: 700;
}
#huts-portfolio-section6 p{
color: #fff;
}
#huts-portfolio-section6 .text-holder{
width: 90%;
text-align:center;
}
#huts-portfolio-section6 .img-holder img{
margin-bottom: 4%;
box-shadow: 3px 3px 10px 1px #00000061;

}  
#huts-portfolio-section6 .absolute{
position: absolute;
}
@media (min-width: 320px) and (max-width: 480px) {
    #huts-portfolio-section1 {
    padding: 75px 0px 50px 0px;
    background: #74c044;
}
#huts-portfolio-section1 .paddingsidestop80 {
    padding: 15px 15px 0px 15px;
}
#huts-portfolio-section1 .portfolio-section-textholder img {
    height: 70px;
    width: auto;
    margin-bottom: 20px;
}
#huts-portfolio-section2 {
    padding: 50px 0px;
    background-color: #fff;
}
#huts-portfolio-section2 .padding-top20 {
    padding-top: 0%; 
    padding-bottom: 30px;
}
#huts-portfolio-section3 {
    padding: 50px 0px;
}
#huts-portfolio-section4 {
    padding: 50px 0px;
    background-color: #fff;
}
#huts-portfolio-section4 .padding-top20 {
    padding-top: 0%;
    padding-bottom: 30px;
}
#huts-portfolio-section5 {
    padding: 50px 0px;
    background: #eaeaea;
}
#huts-portfolio-section5 .img-holder {
    padding: 0px;
}
#huts-portfolio-section5 .text-holder {
    padding: 50px 15px 100px 15px;
}
#huts-portfolio-section6 {
    background-color: #798368;
    padding: 50% 0;
}
#huts-portfolio-section6 .paddingtext{
    padding: 75px 15px 75px 15px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
#huts-portfolio-section2 .padding-top20 {
    padding-top: 0%;
}
#huts-portfolio-section4 .padding-top20 {
    padding-top: 0%;
}
#huts-portfolio-section5 .text-holder {
    padding:0px;
}
#huts-portfolio-section6 .img-holder{
    margin:100px 0px 0px 0px;
}

}

/* esmart */
/* section 1 */
#esmart-portfolio-section1{
padding: 150px 0px 100px  0px;
background:#ebecee;
}
#esmart-portfolio-section1 .text-holder{
    width: 75%;
}
#esmart-portfolio-section1 h2{
color: #444;
margin-bottom: 30px;
font-weight: 700;
text-align: center;
}
#esmart-portfolio-section1 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}

/* section 5 */
#esmart-portfolio-section2{
    padding: 10%;
}
#esmart-portfolio-section2 h2{
color: #444;
margin-bottom: 30px;
text-align: center;
font-weight: 700;
}
#esmart-portfolio-section2 p{
color: #444;
margin-bottom: 0px;
font-size: 16px;
text-align: center;
margin-bottom: 30px;
}

/* one more game */
/* section1 */
#marian-portfolio-section1{
padding: 120px 0px 100px 0px;
background:#e0f2f3;
}
#marian-portfolio-section1 .paddingtop50only{
padding:50px 0px 0px 0px;
}
#omg-portfolio-section1 h2{
color: #fff;
}
#marian-portfolio-section1 p{
color: #222;
}
#marian-portfolio-section1  ul {
list-style: none;
padding: 0;
}
#marian-portfolio-section1 ul li {
padding-bottom: 10px;
color: #fff;
}
#marian-portfolio-section1 i {
font-size: 20px;
padding-right: 4px;
color: #222;
}
#marian-portfolio-section1 .portfolio-section-textholder{
margin-bottom: 20px;
}
#marian-portfolio-section1 .icon {
float: left;
}
#marian-portfolio-section1 .description {
font-size: 16px;
margin-left: 30px;
line-height: 24px;
margin-bottom: 0;
}
#marian-portfolio-section1 .paddingsidestop80{
padding: 80px 80px 0px 80px;
}
#marian-portfolio-section1 .portfolio-section-textholder img{
height:100px;
width: auto;
margin-bottom: 20px;
}
#marian-portfolio-section1 .portfolio-section-textholder h2{
display: inline-block;
margin-left: 20px
}

@media (min-width: 320px) and (max-width: 480px) {
    #marian-portfolio-section1 {
    padding: 75px 0px 50px 0px;
    }
    #marian-portfolio-section1 .paddingsidestop80 {
    padding: 15px 15px 0px 15px;
    }
    #marian-portfolio-section1 .portfolio-section-textholder img {
    height: 75px;
    width: auto;
    margin-bottom: 20px;
    }
} 