body{margin:0;padding:0;font-family:'Open Sans', sans-serif;font-weight:300;}
.navbar-dark .navbar-nav .nav-link {
     color: rgba(255,255,255,1); 
     font-weight: bold;
}
nav a.nav-link{
	font-size: 14px;
    color: #fff;
    padding: 7px 16px;
    text-decoration: none;
    line-height: 100%;
    text-transform: uppercase;
}
ul.navbar-nav.mr-auto.justify-content-end {
    width: 100%;
}
.dropdown-menu {   
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}
.dropdown-item {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: .8rem;
    color: #fff;
}
.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0.8);
}

@media(max-width: 768px){
	ul.navbar-nav.mr-auto.justify-content-end {
    text-align: center;
	    background-color: rgba(0,0,0,0.7);
	}
	.dropdown-menu {
     background-color: rgba(0,0,0,0.7); 
}
	.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    clear: both;
    font-weight: bold;
    color: #A9A9A9;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: .8rem;
}
}
.carousel-indicators {
     position: absolute; 

}
.carousel {
    position: relative;
}
.carousel-indicators li {
    border-radius: 100px;
    width: 17px;
    height: 17px;
    margin: 0 8px;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
}


.carousel-indicators .active {
    background-color: #ca4242;
}
section.services-div {
    padding: 6%;
   
}
section.services-div  img {
    margin: 2%;
}
section.services-div p {
    font-size: 1.5rem;
     text-align: left;
}
/*.services-div ul li  {
    float: none;
    width: 89%;
    margin: 8% 0;
    padding: 0 0 0 11%;
    line-height: 30px;
    font-size: 1.5rem;
    color: #ca4242;
    background: url(../images/checkmarksmall.svg) no-repeat left top;
}*/
.services-div ul{
    text-align: left;
    padding: 1% 0;
}
.services-div ul li {
    float: none;
    /*width: 50%;*/
    margin: 0 15%;
    padding: 0 0 0 10%;
    /* line-height: 30px; */
    font-size: 1.5rem;
    color: #ca4242;
    background: url(../images/checkmarksmall.svg) no-repeat;
    /* text-align: center; */
}
#drpwn{background-color: rgba(0,0,0,0.8);}
/*#drpwn.large{background-color: rgba(0,0,0,0.2);}
#drpwn.small{
background:none;
}*/
.sec-padding {
    padding: 150px 0 150px 0;
}
.section-light {
    background-color: #f5f5f5;
}
.sec-title-container {
    width: 100%;
    float: left;
    padding-bottom: 120px;
}
.text-center {
    text-align: center;
}
.ce-feature-box-16 {
    width: 100%;
    padding: 0;
    float: left;
}

.margin-bottom {
    margin-bottom: 0px;
}
.text-center {
    text-align: center;
}
.ce-feature-box-16 .text-box.shadow {
    box-shadow: 0 20px 20px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.14);
}

.ce-feature-box-16 .text-box {
    width: 100%;
    float: left;
    padding: 22px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
    transition: all 0.3s ease-out 0s;
}
.text-box {
    width: 100%;
    float: left;
}
.title {
    transition: all 0.3s ease-out 0s;
    color: #272727;
}

.font-weight-5 {
    font-weight: 500;
}
.ce-feature-box-16:hover .text-box {
    -webkit-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
    box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
    transform: translateY(-8px);
}
.ce-feature-box-16:hover .text-box .title {
    color: #f51e46;
}
a.ReadmreBtn{
    border-color: #101010;
    border: 2px solid;
        color: #242424;
            border-radius: 20px;
            padding: 10px 30px;
            box-shadow: none;
                text-transform: uppercase;
}

.ce-feature-box-16:hover .text-box .btn.btn-border.dark {
   color: #ca4242;
    /*color: #f51e46;*/
    border-color: #ca4242;
}
